<div class="container px-0 mb-2">
  <div class="row gx-5 row-cols-5">
    <div class="col">
      <div class="nested-fields">
        <div class="field">
            <%= f.label :hour %>
            <%= f.text_field :hour, class: 'form-control data-b mb-2' %>
        </div>
      </div>
    </div>  
  </div>
</div>  
