@import "bootstrap";

.img-selling {
    max-width: 30px;
    max-height: 30px;
    border: 0ch;
}

.img-selling-show {
    max-width: 17px;
    max-height: 17px;
    margin-bottom: 3px;
    border: 0ch;
}

.td{
    vertical-align: middle;
}

.td-selling{
    text-align: center;
    vertical-align: middle;
}

.td-description{
    vertical-align: middle;
    text-decoration: none;
}